<article class="card col-xs-12 col-md-10 my-4 border-dark">
  <header class="row justify-space-between card-header bg-dark text-white">
    <a class="text-white" href="/post/{{id}}"><h3 class="m-0">{{title}}</h3></a>
    <p class="text-end m-0">posted by <b>{{user.name}}</b> on {{date}}</p>
  </header>
  <div class="card-body">
    <p class="card-text">{{body}}</p>
  </div>
</article>